<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>@<%= @user.username %></h1>

      <!-- TODO fix what happens if attr not present -->
      <p>
        <%= @user.name %><br />
        <%= @user.email %><br />
        <%= @user.phone %><br />
        <%= @user.website %>
      </p>
    </section>

    <%= link_to "Update User", edit_user_url %>
  </aside>

  <div class="col-md-8">
    <% if @albums.any? %>
      <h3>Albums (<%= @albums.count %>)</h3>
      <ul class="albums">
        <%= render @albums %>
      </ul>
    <% end %>
  </div>
</div>
