<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>@<%= @user.username %></h1>

      <!-- TODO fix what happens if attr not present -->
      <p>
        <%= @user.name %><br />
        <%= @user.email %><br />
        <%= @user.phone %><br />
        <%= @user.website %>
      </p>
    </section>

    <%= link_to "Update User", edit_user_url %><br />
    <%= link_to "Delete User", @user, method: :delete,
                                      data: { confirm: "You sure?" } %>
  </aside>

  <div class="col-md-8">
    <h3>Albums (<%= @albums.count %>)</h3>
    <%= link_to "Create Album", new_album_url %><br />
    <% if @albums.any? %>
      <ul class="albums">
        <%= render @albums %>
      </ul>
    <% end %>
  </div>
</div>
